body {
    margin: 0;
    padding: 0;
}

.social-icons a {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3rem;
    margin-right: 1rem;
}

a {
    text-decoration: none;
}

nav {
    position: sticky;
    top: 0;
    height: 100vh;
}

.resume-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 45px;
}